BLACKDOG_CONFIGURATOR_BACKEND_NODE_ENV=production
BLACKDOG_CONFIGURATOR_BACKEND_DB_HOSTNAME=db
BLACKDOG_CONFIGURATOR_BACKEND_DB_NAME=blackdog
BLACKDOG_CONFIGURATOR_BACKEND_DB_USER=blackdog
BLACKDOG_CONFIGURATOR_BACKEND_DB_PASSWORD=blackdog
BLACKDOG_CONFIGURATOR_BACKEND_DB_ROOT_PASSWORD=blackdog
BLACKDOG_CONFIGURATOR_BACKEND_SCHEME=http
BLACKDOG_CONFIGURATOR_BACKEND_HOST=umerx_blackdog_configurator_backend
BLACKDOG_CONFIGURATOR_BACKEND_PORT=80
BLACKDOG_CONFIGURATOR_BACKEND_PATH=
